	html {
        background-color: firebrick;
    }
    
    .sidenav {
    	height: 100%; 
    	width: 0; 
    	position: fixed; 
    	z-index: 1; 
    	top: 0;
    	left: 0;
    	background-color: #111; 
    	overflow-x: hidden; 
    	padding-top: 60px; 
    	transition: 0.5s; 
    	text-align: left;
    }

    .sidenav a {
    	padding: 8px 8px 8px 32px;
    	text-decoration: none;
    	font-size: 25px;
    	color: #818181;
    	display: block;
    	transition: 0.3s
	}	

	.closebtn {
		text-align: right;
		margin-top: -45px;
		padding-bottom: 75px;
	}

	.tab:hover {
		opacity: 0.5;
		background-color: #D3D3D3;
	}

	#bike_transition {
    	height: 250px;
    	width: 200px;
		position: relative;
		left: 1350px;
		top: -110px;
	}

	#pre_race_2 {
    	height: 200px;
    	width: 250px;
		position: relative;
		left: 1300px;
		top: 10px;
	}

    #open {
        position: absolute;
		top: 20px;
		left: 12px;
    }

	#Connect {
		font-size: 1.300em;
		position: relative;
		left: 12px;
		top: -45px;
	}

	#form {
		position: relative;
		left: 15px;
		top: -10px;
	}

	input[type=text] {
		box-sizing: border-box;
		border-radius: 25px;
	}

	input[type=email] {
		box-sizing: border-box;
		border-radius: 25px;
	}

	input[type=submit] {
		border-radius: 18px;
		-moz-border-radius: 5px;
	}

	label.error {
		color: darkblue;
	}

	#map {
		position: relative;
		left: 20px;
		top: -250px;
		height: 100px;
		width: 200px;
	}

	h1 {
  		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  		font-size: 2.900em;
		padding-top: 10px;
  		text-align: center;
  		text-transform: uppercase;
 		text-rendering: optimizeLegibility;
	}

  	h1 {
    	color: #2c2c2c;
    	/*background-color: firebrick;*/
    	letter-spacing: .05em;
    	text-shadow: 
      		4px 4px 0px #d5d5d5, 
      		7px 7px 0px rgba(0, 0, 0, 0.2);
  	}

	footer {
		position: relative;
		top: 30px;
	}

	#cc {
		position: relative;
		top: -70px;
		left: 10px;
		color: white;
	}

	li {
        list-style: none;
        padding: 5px;
    }

	iframe {
		height: 300px;
		width: 400px;
	}