   body {
	   background-color: black;
	   overflow-x: hidden;
   }
    #open {
        position: relative;
		top: 20px;
		left: 12px;
    	width: 40px;
    	height: 40px;
    	border-radius: 10%;
    	background-color: #ff1A1A;
    	box-shadow:
        	0 0 100px 60px #ff1A1A,
	}

    .sidenav {
    	height: 100%; 
    	width: 0; 
    	position: fixed; 
    	z-index: 1; 
    	top: 0;
    	left: 0;
    	background-color: #111; 
    	overflow-x: hidden; 
    	padding-top: 60px; 
    	transition: 0.5s; 
    	text-align: left;
    }

    .sidenav a {
    	padding: 8px 8px 8px 32px;
    	text-decoration: none;
    	font-size: 25px;
    	color: #818181;
    	display: block;
    	transition: 0.3s
	}	

	.closebtn {
		text-align: right;
		margin-top: -45px;
		padding-bottom: 75px;
	}

	.tab:hover {
		opacity: 0.5;
		background-color: #D3D3D3;
	}

    #Ash--Chicago {
        height: 410px;
        width: 450px;
        /*position: relative;
        left: 80px;*/
    }

	.gallery {
		position: relative;
		left: 633px;
		top: -50px;
	}

	.navigation {
		position: relative;
      	top: 400px;
		left: -100px;
		text-align: center;
    }

	.btn {
      width: 200px;
      color: #0D2633;
      border: none;
      margin-left: 10px;
      background: #00B0FF;
    }

    .reload, .btn{
      -webkit-border-radius: 5px;
      display: inline-block;
      padding: 0.7em;
      text-decoration: none;
      line-height: 140%;
      font-size: 17px;
      font-family: open sans;
      font-weight: bold;
    }

	#pictures {
		font-family: Noto Serif;
		font-style: italic;
		color: white;
		position: relative;
		left: 75px;
		font-size: 5.900em;
	}

	#Yo {
		font-family: Noto Serif;
		font-style: italic;
		color: red;
		position: absolute;
		top: 500px;
		left: 1380px;
		font-size: 5.900em;
	}

    li {
        list-style: none;
        padding: 5px;
    }

	footer {
		position: relative;
		top: 612px;
		text-align: center;
		color: white;
	}